# Path to your Chrome/Brave/Edge profile
# macOS: ~/Library/Application Support/Google/Chrome
# Linux: ~/.config/google-chrome
CHROME_PROFILE_PATH="~/Library/Application Support/Google/Chrome"

# (Optional) If not using an MCP for Firecrawl
FIRECRAWL_API_KEY=

# Langfuse Telemetry (MCP Server)
LANGFUSE_PUBLIC_KEY=placeholder
LANGFUSE_SECRET_KEY=placeholder
LANGFUSE_BASE_URL=https://cloud.langfuse.com
# (Optional) Identifies you for specific usage analytics on your dashboard
USER_EMAIL=you@example.com